{% load static %}
<html>
<head>
    <title>Wishlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'tailwind.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@6.1.0/dist/styles.css" />

    {{ data|json_script:"shopify-app-init" }}
    <script type="module" src="http://localhost:8080/index.js"></script>
    <!-- <script type="module" src="{% static 'index.js' %}"></script> -->
</head>
<body>
    <div class="min-h-screen">
        <nav class="border-b border-gray-200">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between h-16">
                    <div class="flex">
                        <div class="flex-shrink-0 flex items-center">
                            Wishlist
                        </div>
                        <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
                            <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                            <a href="/home"
                                class="text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
                                Home
                            </a>
                            <a href="/products" class=" text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
                                Products
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="py-10">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
